@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-family: "Arial";
  src: url("Arial-ItalicMT.eot");
  src: local("Arial Italic"), local("Arial-ItalicMT"), url("Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("Arial-ItalicMT.woff2") format("woff2"), url("Arial-ItalicMT.woff") format("woff"), url("Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/ArialMT.eot");
  src: local("Arial"), local("ArialMT"), url("../fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialMT.woff2") format("woff2"), url("../fonts/ArialMT.woff") format("woff"), url("../fonts/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  @font-face {
    font-family: "Arial";
    src: url("../fonts/Arial-BoldItalicMT.eot");
    src: local("Arial Bold Italic"), local("Arial-BoldItalicMT"), url("../fonts/Arial-BoldItalicMT.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial-BoldItalicMT.woff2") format("woff2"), url("../fonts/Arial-BoldItalicMT.woff") format("woff"), url("../fonts/Arial-BoldItalicMT.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: "Arial Narrow";
    src: url("../fonts/ArialNarrow-BoldItalic.eot");
    src: local("Arial Narrow Bold Italic"), local("ArialNarrow-BoldItalic"), url("../fonts/ArialNarrow-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialNarrow-BoldItalic.woff2") format("woff2"), url("../fonts/ArialNarrow-BoldItalic.woff") format("woff"), url("../fonts/ArialNarrow-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: "Arial Narrow";
    src: url("../fonts/ArialNarrow-Bold.eot");
    src: local("Arial Narrow Bold"), local("ArialNarrow-Bold"), url("../fonts/ArialNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialNarrow-Bold.woff2") format("woff2"), url("../fonts/ArialNarrow-Bold.woff") format("woff"), url("../fonts/ArialNarrow-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Arial Narrow";
    src: url("../fonts/ArialNarrow-Italic.eot");
    src: local("Arial Narrow Italic"), local("ArialNarrow-Italic"), url("../fonts/ArialNarrow-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialNarrow-Italic.woff2") format("woff2"), url("../fonts/ArialNarrow-Italic.woff") format("woff"), url("../fonts/ArialNarrow-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "Arial Narrow";
    src: url("../fonts/ArialNarrow.eot");
    src: local("Arial Narrow"), local("ArialNarrow"), url("../fonts/ArialNarrow.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialNarrow.woff2") format("woff2"), url("../fonts/ArialNarrow.woff") format("woff"), url("../fonts/ArialNarrow.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Arial";
    src: url("../fonts/Arial-BoldMT.eot");
    src: local("Arial Bold"), local("Arial-BoldMT"), url("../fonts/Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial-BoldMT.woff2") format("woff2"), url("../fonts/Arial-BoldMT.woff") format("woff"), url("../fonts/Arial-BoldMT.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeueBoldCondensed.eot");
    src: local("Helvetica Neue Condensed Bold"), local("HelveticaNeueBoldCondensed"), url("../fonts/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeueBlackCondensed.eot");
    src: local("Helvetica Neue Condensed Black"), local("HelveticaNeueBlackCondensed"), url("../fonts/HelveticaNeueBlackCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBlackCondensed.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Bold.eot");
    src: local("HelveticaNeueCyr-Bold"), url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Light.eot");
    src: local("HelveticaNeueCyr-Light"), url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Medium.eot");
    src: local("HelveticaNeueCyr-Medium"), url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-MediumItalic.eot");
    src: local("HelveticaNeueCyr-MediumItalic"), url("../fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-MediumItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-MediumItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-LightItalic.eot");
    src: local("HelveticaNeueCyr-LightItalic"), url("../fonts/HelveticaNeueCyr-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-LightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-HeavyItalic.eot");
    src: local("HelveticaNeueCyr-HeavyItalic"), url("../fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-HeavyItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-HeavyItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-HeavyItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Black.eot");
    src: local("HelveticaNeueCyr-Black"), url("../fonts/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Heavy.eot");
    src: local("HelveticaNeueCyr-Heavy"), url("../fonts/HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Heavy.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Heavy.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Italic.eot");
    src: local("HelveticaNeueCyr-Italic"), url("../fonts/HelveticaNeueCyr-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Roman.eot");
    src: local("HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-BlackItalic.eot");
    src: local("HelveticaNeueCyr-BlackItalic"), url("../fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-BlackItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-BlackItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-UltraLightItalic.eot");
    src: local("HelveticaNeueCyr-UltraLightItalic"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-BoldItalic.eot");
    src: local("HelveticaNeueCyr-BoldItalic"), url("../fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-BoldItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-ThinItalic.eot");
    src: local("HelveticaNeueCyr-ThinItalic"), url("../fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-ThinItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-ThinItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-UltraLight.eot");
    src: local("HelveticaNeueCyr-UltraLight"), url("../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("../fonts/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: "HelveticaNeueCyr";
    src: url("../fonts/HelveticaNeueCyr-Thin.eot");
    src: local("HelveticaNeueCyr-Thin"), url("../fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
}
.flex-container-slider {
  display: flex;
  justify-content: center;
  height: 100%;
}
.flex-container-slider .flex1 {
  width: 479px;
}
@media (max-width: 575px) {
  .flex-container-slider .flex1 {
    width: 280px;
  }
}
.flex-container-slider .flex1 .slider-container-wrap {
  width: 100%;
}
.flex-container-slider .flex1 .slider-container-wrap .slider-container {
  width: 100%;
  overflow: hidden;
}
.flex-container-slider .flex1 .slider-container-wrap .slider-new {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.flex-container-slider .flex1 .slider-container-wrap .slide {
  width: 100%;
  height: auto;
}
.flex-container-slider .flex1 .flex-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-container-slider .flex1 .flex-btn .btn {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 240px;
  background: #5a5b59;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.2s;
}
.flex-container-slider .flex1 .flex-btn .btn:hover {
  background-color: #357ebd;
}
@media (max-width: 767px) {
  .flex-container-slider .flex1 .flex-btn .btn {
    width: 200px;
  }
}

body {
  font-family: "Arial", sans-serif;
  margin: 150px 0 0 0;
}

.section-outer {
  max-width: 1300px;
  margin: 0 auto;
}

.section-inner {
  max-width: 1100px;
  margin: 0 auto;
}

.material {
  margin-left: 80px;
  margin-bottom: 40px;
}
@media (max-width: 575px) {
  .material {
    margin-left: 40px;
  }
}
.material-text {
  padding-right: 76px;
  color: #333333;
  line-height: 1.5;
  font-size: 20px;
}
@media (max-width: 575px) {
  .material-text {
    padding-right: 40px;
    font-size: 10px;
  }
}

.material-solo {
  margin-top: 40px;
  margin-left: 80px;
  margin-bottom: 40px;
}
@media (max-width: 575px) {
  .material-solo {
    margin-left: 40px;
  }
}
.material-solo-text {
  padding-right: 76px;
  color: #333333;
  line-height: 1.5;
  font-size: 20px;
}
@media (max-width: 575px) {
  .material-solo-text {
    padding-right: 40px;
    font-size: 10px;
  }
}
.material-solo-text-bold {
  font-weight: bold;
}

.list-item {
  color: #333333;
  line-height: 1.5;
  font-size: 20px;
  padding-right: 76px;
}
@media (max-width: 575px) {
  .list-item {
    padding-right: 40px;
    font-size: 10px;
  }
}

.grid-item-img_alt {
  display: inline-block;
  overflow: hidden;
}
.grid-item-img_alt img {
  transition: 0.6s;
  display: block;
}
.grid-item-img_alt img:hover {
  transform: scale(1.2);
}

h1 {
  font-size: 36px;
  padding-right: 76px;
}
@media (max-width: 575px) {
  h1 {
    padding-right: 40px;
    font-size: 24px;
  }
}

@media (max-width: 575px) {
  h2 {
    padding-right: 40px;
    font-size: 20px;
  }
}

h3 {
  padding-right: 76px;
  font-size: 24px;
}
@media (max-width: 575px) {
  h3 {
    padding-right: 40px;
    font-size: 16px;
  }
}

.burger {
  margin-left: auto;
  display: none;
  background-color: #525355;
  border: none;
}
@media (max-width: 767px) {
  .burger {
    display: block;
  }
}
.burger_line {
  display: block;
  width: 16px;
  height: 2px;
  background-color: #fff;
}
.burger_line:not(:first-child) {
  margin-top: 4px;
}

.bread-crumbs {
  margin-bottom: 40px;
  padding-top: 40px;
  display: flex;
}
@media (max-width: 1199px) {
  .bread-crumbs {
    padding-left: 16px;
  }
}
.bread-crumbs-index {
  color: #fff;
}
.bread-crumbs-title {
  position: relative;
}
.bread-crumbs-title:not(:first-child) {
  margin-left: 16px;
}
.bread-crumbs-title:not(:first-child)::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #777777;
  left: -10px;
}
@media (max-width: 767px) {
  .bread-crumbs-title {
    font-size: 8px;
  }
}

.options_another {
  padding: 0 16px;
}
@media (max-width: 1199px) {
  .options_another-wrap_alt .material h1 {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .options_another-wrap_alt .material h1 {
    text-align: center;
    font-size: 26px;
  }
}
.options_another-wrap_alt-text {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.options_another-wrap_alt-text .flex-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
@media (max-width: 1199px) {
  .options_another-wrap_alt-text .flex-container {
    flex-direction: column;
    width: 720px;
  }
}
.options_another-wrap_alt-text .flex-container .flex1 {
  display: flex;
  padding: 40px 0;
}
.options_another-wrap_alt-text .flex-container .flex1 .flex-img {
  width: 100%;
}
.options_another-wrap_alt-text .flex-container .flex1 .flex-img img {
  width: 100%;
}
.options_another-wrap_alt-text .flex-container .flex1-img {
  height: 100%;
}
.options_another-wrap_alt-text .flex-container .flex1-img img {
  width: 100%;
}
@media (max-width: 1199px) {
  .options_another-wrap_alt-text .flex-container .flex1-img img {
    width: 380px;
  }
}
@media (max-width: 991px) {
  .options_another-wrap_alt-text .flex-container .flex1-img img {
    width: 380px;
  }
}
@media (max-width: 767px) {
  .options_another-wrap_alt-text .flex-container .flex1-img img {
    width: 240px;
  }
}
@media (max-width: 575px) {
  .options_another-wrap_alt-text .flex-container .flex1-img img {
    width: 200px;
  }
}
.options_another-wrap_alt-text .flex-container .flex-none {
  display: block;
}
.options_another-wrap_alt-text .flex-container .flex-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.options_another-wrap_alt-text .flex-container .flex-btn .btn {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 240px;
  background: #5a5b59;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.2s;
}
.options_another-wrap_alt-text .flex-container .flex-btn .btn:hover {
  background-color: #357ebd;
}
@media (max-width: 767px) {
  .options_another-wrap_alt-text .flex-container .flex-btn .btn {
    width: 200px;
  }
}
.options_another-wrap_alt-text .flex-container .flex2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1199px) {
  .options_another-wrap_alt-text .flex-container .flex2 {
    align-items: center;
  }
}
.options_another-wrap_alt-text .flex-container .flex2-wraper {
  display: flex;
  flex-direction: column;
}
@media (max-width: 575px) {
  .options_another-wrap_alt-text .flex-container .flex2-wraper {
    width: 240px;
  }
}
.options_another-wrap_alt-text .flex-container .flex2-wraper h3 {
  text-align: center;
}
@media (max-width: 1199px) {
  .options_another-wrap_alt-text .flex-container .flex2-wraper h3 {
    padding-right: 0;
  }
}
@media (max-width: 575px) {
  .options_another-wrap_alt-text .flex-container .flex2-wraper h3 {
    padding-right: 0;
  }
}
.options_another-wrap_alt-text .flex-container .flex2-wraper .flex2-text {
  padding-right: 76px;
  color: #333333;
  line-height: 1.5;
  font-size: 16px;
}
@media (max-width: 1199px) {
  .options_another-wrap_alt-text .flex-container .flex2-wraper .flex2-text {
    padding-right: 0;
  }
}
@media (max-width: 575px) {
  .options_another-wrap_alt-text .flex-container .flex2-wraper .flex2-text {
    padding-right: 0;
    font-size: 10px;
  }
}
.options_another-wrap_alt-text .flex-container .flex2-wraper .flex2-text-list {
  display: flex;
  flex-direction: column;
}
.options_another-wrap_alt-text .flex-container .flex2 .btn {
  margin-bottom: 40px;
  width: 120px;
  background: #5a5b59;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.2s;
}
.options_another-wrap_alt-text .flex-container .flex2 .btn:hover {
  background-color: #357ebd;
}
.options_another-wrap_alt .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media (max-width: 1199px) {
  .options_another-wrap_alt .grid-container {
    grid-template-columns: repeat(2, 0.3fr);
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .options_another-wrap_alt .grid-container {
    grid-template-columns: repeat(2, 0.2fr);
  }
}
.options_another-wrap_alt .grid-container .grid-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 1;
}
@media (max-width: 575px) {
  .options_another-wrap_alt .grid-container .grid-item {
    line-height: 1;
  }
}
.options_another-wrap_alt .grid-container .grid-item-img {
  display: inline-block;
  overflow: hidden;
}
.options_another-wrap_alt .grid-container .grid-item-img img {
  width: 100%;
}
@media (max-width: 575px) {
  .options_another-wrap_alt .grid-container .grid-item-img img {
    width: 90%;
  }
}
.options_another-wrap_alt .grid-container .grid-item-text {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  transition: 0.2s;
  font-weight: bold;
}
@media (max-width: 575px) {
  .options_another-wrap_alt .grid-container .grid-item-text {
    font-size: 10px;
  }
}
.options_another-wrap_alt .grid-container .grid-item-text:hover {
  color: #007fad;
}

.slider-wrap {
  margin-top: 40px;
}
.slider-wrap .slider {
  overflow-y: auto;
  background-color: #fff;
  margin: 0 16px;
}
.slider-wrap .slider .tabs {
  display: flex;
}
.slider-wrap .slider .tabs .tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  background-color: lightgray;
  cursor: pointer;
}
@media (max-width: 767px) {
  .slider-wrap .slider .tabs .tab {
    font-size: 12px;
  }
}
.slider-wrap .slider .tabs .tab.active {
  background-color: white;
}
.slider-wrap .slider .content .content-tab {
  overflow-y: auto;
  display: none;
  padding: 20px;
}
.slider-wrap .slider .content .content-tab .content-wrap .text {
  color: #333333;
  line-height: 1.5;
}
.slider-wrap .slider .content .content-tab .content-wrap .images {
  text-align: center;
}
@media (max-width: 767px) {
  .slider-wrap .slider .content .content-tab .content-wrap .images img {
    width: 240px;
  }
}
.slider-wrap .slider .content .content-tab .content-wrap h3 {
  color: #333333;
}
@media (max-width: 767px) {
  .slider-wrap .slider .content .content-tab .content-wrap h3 {
    text-align: center;
  }
}
.slider-wrap .slider .content .content-tab .content-wrap .slider-list_item {
  color: #333333;
  line-height: 1.5;
}
.slider-wrap .slider .content .content-tab.active {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.grid-item_alt {
  justify-content: end;
}

td {
  text-align: center;
}
td:nth-child(1) {
  text-align: start;
}
@media (max-width: 991px) {
  td {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  td {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  td {
    font-size: 6px;
  }
}

.main-photo {
  text-align: center;
  margin-bottom: 10px;
}

.main-photo img {
  max-width: 100%;
}

.preview-photos {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  gap: 5px;
  align-items: flex-end;
}

.wrap-photos {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.photo-preview {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  height: 25%;
}

.photo-preview.active {
  border: 2px solid red;
  height: 25%;
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

.prev-btn,
.next-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 0 5px;
}

.yandex iframe {
  width: 100%;
}

a {
  text-decoration: none;
}

.outer-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  margin-bottom: 16px;
}
.outer-header::before {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  content: "";
}
.outer-header-active-nav::before {
  display: block;
}
.outer-header-active-nav .section-inner-wrap {
  display: flex !important;
  justify-content: center;
}
.outer-header-active-nav .section-inner-wrap .nav {
  flex-direction: column;
  justify-content: center;
}
.outer-header-active-nav .section-inner-wrap .nav .nav_item:not(:first-child) {
  margin-top: 24px;
}
.outer-header .section-header {
  padding-top: 16px;
  margin-bottom: 4px;
}
.outer-header .section-header-wrap {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .outer-header .section-header-wrap {
    flex-direction: column;
  }
}
.outer-header .section-header-wrap .logo {
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .outer-header .section-header-wrap .logo {
    margin-left: 40px;
  }
}
.outer-header .section-header-wrap .header-text-primary {
  margin-left: 160px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .outer-header .section-header-wrap .header-text-primary {
    margin-left: 40px;
  }
}
.outer-header .section-header-wrap .header-text-primary-title {
  flex-basis: 75%;
  font-size: 26px;
  line-height: 1;
}
@media (max-width: 1199px) {
  .outer-header .section-header-wrap .header-text-primary-title {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .outer-header .section-header-wrap .header-text-primary-title {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .outer-header .section-header-wrap .header-text-primary-title {
    display: none;
  }
}
.outer-header .section-header-wrap .header-text-primary-lang {
  display: flex;
}
@media (max-width: 1199px) {
  .outer-header .section-header-wrap .header-text-primary-lang {
    padding-right: 16px;
  }
}
.outer-header .section-header-wrap .header-text-primary-lang_item {
  text-decoration: none;
  color: #007fad;
  font-size: 12px;
}
.outer-header .section-header-wrap .header-text-primary-lang_item:nth-last-child(n+2) {
  margin-right: 8px;
}
.outer-header .section-header-wrap .header-text-secondary {
  margin-left: 160px;
  margin-top: 12px;
}
@media (max-width: 991px) {
  .outer-header .section-header-wrap .header-text-secondary {
    margin-left: 40px;
  }
}
.outer-header .section-header-wrap .header-text-secondary-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .outer-header .section-header-wrap .header-text-secondary-wrapper {
    justify-content: flex-start;
    flex-direction: column;
  }
}
.outer-header .section-header-wrap .header-text-secondary-wrapper_item-link {
  color: black;
  text-decoration: none;
}
@media (max-width: 1199px) {
  .outer-header .section-header-wrap .header-text-secondary-wrapper_item-link {
    font-size: 14px;
  }
}
.outer-header .section-header-wrap .header-text-secondary-wrapper_item-link span {
  color: rgb(128, 130, 133);
}
@media (max-width: 1199px) {
  .outer-header .section-header-wrap .header-text-secondary-wrapper_item-link span {
    font-size: 14px;
  }
}
.outer-header .section-header-wrap .header-text-secondary-wrapper_item-mail {
  color: #007fad;
  text-decoration: none;
}
@media (max-width: 1199px) {
  .outer-header .section-header-wrap .header-text-secondary-wrapper_item-mail {
    padding-right: 16px;
  }
}

.section-navigation {
  margin-bottom: 8px;
  border: 1px solid;
  background-color: #525355;
}
@media (max-width: 1199px) {
  .section-navigation {
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) {
  .section-navigation .section-inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 767px) {
  .section-navigation .section-inner-wrap {
    display: none;
  }
}
.section-navigation .section-inner-wrap .nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-navigation .section-inner-wrap .nav_item-link {
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}
.section-navigation .section-inner-wrap .nav_item-link:hover {
  color: #007fad;
}

.outer-equipment {
  margin-bottom: 40px;
  padding-bottom: 56px;
  background-color: #f5f5f5;
}
.outer-equipment .equipment-wrap {
  background-image: linear-gradient(rgba(66, 139, 202, 0.85), rgba(66, 139, 202, 0.85)), url(/img/back.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}
.outer-equipment .equipment-wrap .section-equipment {
  margin-bottom: 60px;
  padding: 0 32px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .outer-equipment .equipment-wrap .section-equipment {
    flex-direction: column;
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .outer-equipment .equipment-wrap .section-equipment {
    padding: 0;
  }
}
.outer-equipment .equipment-wrap .section-equipment .text {
  padding: 100px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
}
@media (max-width: 1199px) {
  .outer-equipment .equipment-wrap .section-equipment .text {
    margin-top: 40px;
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .outer-equipment .equipment-wrap .section-equipment .text {
    text-align: center;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .outer-equipment .equipment-wrap .section-equipment .text {
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
  }
}
.outer-equipment .equipment-wrap .section-equipment .text .span-text {
  font-size: 36px;
  color: #fff;
}
@media (max-width: 1199px) {
  .outer-equipment .equipment-wrap .section-equipment .text .span-text {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .outer-equipment .equipment-wrap .section-equipment .text .span-text {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .outer-equipment .equipment-wrap .section-equipment .text .span-text {
    font-size: 24px;
  }
}
.outer-equipment .options {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}
@media (max-width: 1199px) {
  .outer-equipment .options {
    padding-right: 16px;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .outer-equipment .options {
    padding-right: 16px;
    flex-direction: column;
    align-items: center;
  }
}
.outer-equipment .options .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
}
@media (max-width: 1199px) {
  .outer-equipment .options .grid-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .outer-equipment .options .grid-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .outer-equipment .options .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.outer-equipment .options .grid-container .grid-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 1;
}
@media (max-width: 575px) {
  .outer-equipment .options .grid-container .grid-item {
    line-height: 1;
  }
}
.outer-equipment .options .grid-container .grid-item-img {
  display: inline-block;
  overflow: hidden;
}
.outer-equipment .options .grid-container .grid-item-img img {
  width: 100%;
}
@media (max-width: 575px) {
  .outer-equipment .options .grid-container .grid-item-img img {
    width: 90%;
  }
}
.outer-equipment .options .grid-container .grid-item-text {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  transition: 0.2s;
  font-weight: bold;
}
@media (max-width: 575px) {
  .outer-equipment .options .grid-container .grid-item-text {
    font-size: 10px;
  }
}
.outer-equipment .options .grid-container .grid-item-text:hover {
  color: #007fad;
}
.outer-equipment .options .container {
  width: 265px;
  height: 1288px;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  padding-right: 16px;
}
@media (max-width: 1199px) {
  .outer-equipment .options .container {
    margin-left: 0;
    padding-top: 20px;
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .outer-equipment .options .container {
    flex-direction: row;
    padding-right: 0;
  }
}
.outer-equipment .options .container_item1-img1 {
  width: 265px;
}
@media (max-width: 1199px) {
  .outer-equipment .options .container_item1-img1 {
    width: 245px;
  }
}
@media (max-width: 991px) {
  .outer-equipment .options .container_item1-img1 {
    width: 200px;
  }
}
@media (max-width: 575px) {
  .outer-equipment .options .container_item1-img1 {
    width: 130px;
  }
}
@media (max-width: 1199px) {
  .outer-equipment .options .container_item2 {
    margin-left: 16px;
  }
}
.outer-equipment .options .container_item2-img2 {
  width: 265px;
}
@media (max-width: 1199px) {
  .outer-equipment .options .container_item2-img2 {
    width: 245px;
  }
}
@media (max-width: 991px) {
  .outer-equipment .options .container_item2-img2 {
    width: 200px;
  }
}
@media (max-width: 575px) {
  .outer-equipment .options .container_item2-img2 {
    width: 130px;
  }
}

.outer-form {
  background-color: #f5f5f5;
}
.outer-form .section-form .form-container {
  padding-top: 72px;
  padding-bottom: 60px;
}
.outer-form .section-form .form-container .form {
  padding-top: 28px;
  padding-bottom: 36px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #007fad;
}
@media (max-width: 575px) {
  .outer-form .section-form .form-container .form {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.outer-form .section-form .form-container .form-title {
  color: #fff;
  margin-bottom: 12px;
  font-size: 30px;
}
@media (max-width: 1199px) {
  .outer-form .section-form .form-container .form-title {
    text-align: center;
    font-size: 26px;
  }
}
@media (max-width: 991px) {
  .outer-form .section-form .form-container .form-title {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .outer-form .section-form .form-container .form-title {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .outer-form .section-form .form-container .form-title {
    font-size: 16px;
  }
}
.outer-form .section-form .form-container .form-group {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .outer-form .section-form .form-container .form-group {
    flex-direction: column;
    align-items: center;
  }
}
.outer-form .section-form .form-container .form-group .input-group {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex-grow: 0.5;
}
@media (max-width: 1199px) {
  .outer-form .section-form .form-container .form-group .input-group {
    width: 100%;
    margin-right: 0;
  }
}
.outer-form .section-form .form-container .form-group .input-group input {
  padding-left: 16px;
  border-radius: 4px;
  border: none;
  margin-bottom: 12px;
  flex-grow: 0.4;
  height: 30px;
}
.outer-form .section-form .form-container .form-group textarea {
  padding-top: 16px;
  padding-left: 16px;
  border-radius: 4px;
  border: none;
  flex-grow: 0.5;
  height: 104px;
}
@media (max-width: 1199px) {
  .outer-form .section-form .form-container .form-group textarea {
    width: 98%;
  }
}
@media (max-width: 991px) {
  .outer-form .section-form .form-container .form-group textarea {
    width: 96%;
  }
}
@media (max-width: 575px) {
  .outer-form .section-form .form-container .form-group textarea {
    width: 96%;
  }
}
.outer-form .section-form .form-container .form .checkbox-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1199px) {
  .outer-form .section-form .form-container .form .checkbox-group {
    flex-direction: column;
  }
}
.outer-form .section-form .form-container .form .checkbox-group .checkbox-consent {
  color: #ff0000;
  font-size: 24px;
}
@media (max-width: 1199px) {
  .outer-form .section-form .form-container .form .checkbox-group .checkbox-consent {
    margin-bottom: 12px;
  }
}
.outer-form .section-form .form-container .form .checkbox-group label {
  margin-left: 12px;
  font-size: 14px;
  color: #fff;
}
.outer-form .section-form .form-container .form .submit-button {
  background: #5a5b59;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.2s;
}
.outer-form .section-form .form-container .form .submit-button:hover {
  background-color: #357ebd;
}

.outer-menu {
  background-color: #57595a;
}
.outer-menu .section-menu {
  display: flex;
  padding-bottom: 40px;
  padding-top: 20px;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .outer-menu .section-menu {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .outer-menu .section-menu {
    display: block;
  }
}
.outer-menu .section-menu-left {
  display: flex;
  flex-basis: 50%;
}
@media (max-width: 1199px) {
  .outer-menu .section-menu-left {
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 991px) {
  .outer-menu .section-menu-left {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .outer-menu .section-menu-left {
    flex-direction: column;
    align-items: center;
  }
}
.outer-menu .section-menu-left_item {
  margin: 0;
  padding: 0;
  list-style: none;
}
.outer-menu .section-menu-left_item:not(:first-child) {
  margin-left: 60px;
}
@media (max-width: 575px) {
  .outer-menu .section-menu-left_item:not(:first-child) {
    margin-left: 0;
  }
}
.outer-menu .section-menu-left_item-link {
  display: flex;
  margin-top: 16px;
  color: #fff;
}
@media (max-width: 991px) {
  .outer-menu .section-menu-left_item-link {
    justify-content: center;
  }
}
.outer-menu .section-menu-left_item-link-element {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: 0.2s;
}
.outer-menu .section-menu-left_item-link-element:hover {
  color: #007fad;
}
@media (max-width: 991px) {
  .outer-menu .section-menu-left_item-link-element {
    text-align: center;
  }
}
.outer-menu .section-menu-left_item-link-fb {
  text-decoration: none;
  transition: 0.2s;
}
.outer-menu .section-menu-left_item-link-fb:hover path {
  fill: #007fad;
}
.outer-menu .section-menu-left_item-link-inst {
  text-decoration: none;
  transition: 0.2s;
}
.outer-menu .section-menu-left_item-link-inst:hover path {
  fill: #007fad;
}
.outer-menu .section-menu-left_item-link-ytb {
  text-decoration: none;
  transition: 0.2s;
}
.outer-menu .section-menu-left_item-link-ytb:hover path {
  fill: #007fad;
}
.outer-menu .section-menu-left_item-link-vk {
  text-decoration: none;
  transition: 0.2s;
}
.outer-menu .section-menu-left_item-link-vk:hover path {
  fill: #007fad;
}
.outer-menu .section-menu-left_item-link-tg {
  text-decoration: none;
  transition: 0.2s;
}
.outer-menu .section-menu-left_item-link-tg:hover path {
  fill: #007fad;
}
.outer-menu .section-menu-right {
  display: flex;
  flex-basis: 50%;
  justify-content: end;
}
@media (max-width: 1199px) {
  .outer-menu .section-menu-right {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .outer-menu .section-menu-right {
    justify-content: space-around;
  }
}
@media (max-width: 575px) {
  .outer-menu .section-menu-right {
    flex-direction: column;
    align-items: center;
  }
}
.outer-menu .section-menu-right_item {
  margin: 0;
  padding: 0;
  list-style: none;
}
.outer-menu .section-menu-right_item:not(:first-child) {
  margin-left: 60px;
}
@media (max-width: 575px) {
  .outer-menu .section-menu-right_item:not(:first-child) {
    margin-left: 0;
  }
}
.outer-menu .section-menu-right_item-link {
  margin-top: 16px;
}
.outer-menu .section-menu-right_item-link-element {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: 0.2s;
}
.outer-menu .section-menu-right_item-link-element:not(:last-child) {
  margin-right: 16px;
}
.outer-menu .section-menu-right_item-link-element:hover {
  color: #007fad;
}
.outer-menu .section-menu-right_item-link-fb {
  text-decoration: none;
  transition: 0.2s;
}
.outer-menu .section-menu-right_item-link-fb:hover path {
  fill: #007fad;
}
.outer-menu .section-menu-right_item-link-inst {
  text-decoration: none;
  transition: 0.2s;
}
.outer-menu .section-menu-right_item-link-inst:hover path {
  fill: #007fad;
}
.outer-menu .section-menu-right_item-link-ytb {
  text-decoration: none;
  transition: 0.2s;
}
.outer-menu .section-menu-right_item-link-ytb:hover path {
  fill: #007fad;
}
.outer-menu .section-menu-right_item-link-vk {
  text-decoration: none;
  transition: 0.2s;
}
.outer-menu .section-menu-right_item-link-vk:hover path {
  fill: #007fad;
}
.outer-menu .section-menu-right_item-link-tg {
  text-decoration: none;
  transition: 0.2s;
}
.outer-menu .section-menu-right_item-link-tg:hover path {
  fill: #007fad;
}

.outer-copyright {
  background-color: #3d4044;
}
.outer-copyright .section-copyright {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .outer-copyright .section-copyright {
    justify-content: space-around;
  }
}
@media (max-width: 575px) {
  .outer-copyright .section-copyright {
    flex-direction: column;
    align-items: center;
  }
}
.outer-copyright .section-copyright-text {
  color: #fff;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */