@import 'fonts';

// === MIXIN ===
@mixin helveticaNeueCyr {
    font-family: 'HelveticaNeueCyr', sans-serif;
}

@mixin arial {
    font-family: 'Arial', sans-serif;
}

@mixin arialNarrowl {
    font-family: 'Arial Narrow', sans-serif;
}

@mixin list-null {
    margin: 0;
    padding: 0;
    list-style: none;
}

// === / MIXIN ===

// === VARIABLES ===

$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$base: 4px;

$transition: 0.2s;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 900;

$fs-xxs: 10px;
$fs-xs: 12px;
$fs-s: 14px;
$fs-m: 24px;
$fs-l: 26px;
$fs-xl: 30px;
$fs-xxl: 36px;
// === / VARIABLES ===

// === COMMON ===
body {
    @include arial;
    margin: 0;
}

.section-outer {
    max-width: 1300px;
    margin: 0 auto;
}

.section-inner {
    max-width: 1100px;
    margin: 0 auto;
}

.material {
    margin-left: $base*20;
    margin-bottom: $base*10;

    @media (max-width: $breakpoint-xs-max) {
        margin-left: $base*10;
    }

    &-text {
        padding-right: $base*19;
        color: #333333;
        line-height: 1.5;
        font-size: $fs-m - $base;

        @media (max-width: $breakpoint-xs-max) {
            padding-right: $base*10;
            font-size: $fs-xxs;
        }
    }
}

.material-solo {
    margin-top: $base*10;
    margin-left: $base*20;
    margin-bottom: $base*10;

    @media (max-width: $breakpoint-xs-max) {
        margin-left: $base*10;
    }

    &-text {
        padding-right: $base*19;
        // margin: $base*10 0;
        color: #333333;
        line-height: 1.5;
        font-size: $fs-m - $base;

        @media (max-width: $breakpoint-xs-max) {
            padding-right: $base*10;
            font-size: $fs-xxs;
        }

        &-bold {
            font-weight: bold;
        }
    }

}

.list {
    &-item {
        color: #333333;
        line-height: 1.5;
        font-size: $fs-m - $base;
        padding-right: $base*19;

        @media (max-width: $breakpoint-xs-max) {
            padding-right: $base*10;
            font-size: $fs-xxs;
        }
    }
}

.grid-item-img_alt {
    display: inline-block;
    overflow: hidden;

    img {
        transition: $transition*3;
        display: block;

        &:hover {
            transform: scale(1.2);
        }
    }
}

h1 {
    font-size: $fs-xxl;
    padding-right: $base*19;

    @media (max-width: $breakpoint-xs-max) {
        padding-right: $base*10;
        font-size: $fs-m;
    }
}

h2 {
    @media (max-width: $breakpoint-xs-max) {
        padding-right: $base*10;
        font-size: $fs-m - $base;
    }
}

h3 {
    padding-right: $base*19;
    font-size: $fs-m;

    @media (max-width: $breakpoint-xs-max) {
        padding-right: $base*10;
        font-size: $fs-m - $base*2;
    }
}


.burger {
    display: none;
    background-color: #525355;
    border: none;

    @media (max-width: $breakpoint-sm-max) {
        display: block;
    }

    &_line {
        display: block;
        width: $base*4;
        height: $base/2;
        background-color: #fff;

        &:not(:first-child) {
            margin-top: $base;
        }
    }
}

.bread-crumbs {
    padding-top: $base*10;
    display: flex;

    @media (max-width: $breakpoint-lg-max) {
        padding-left: $base*4;
    }

    &-title {
        position: relative;
        color: #777777;

        &:not(:first-child) {
            margin-left: $base*4;
        }

        &:not(:first-child)::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: #777777;
            left: -10px;
        }

        @media (max-width: $breakpoint-sm-max) {
            font-size: $fs-xxs - $base/2;
        }

    }
}

.options_another {
    padding: 0 $base*4;

    &-wrap_alt {

        .material {

            h1 {

                @media (max-width: $breakpoint-lg-max) {
                    text-align: center;
                }

                @media (max-width: $breakpoint-md-max) {
                    text-align: center;
                    font-size: $fs-l;
                }
            }

        }

        &-text {
            background-color: #fff;

            .flex-container {
                display: flex;
                justify-content: space-around;
                height: 100%;

                @media (max-width: $breakpoint-lg-max) {
                    flex-direction: column;
                    // text-align: center;
                }

                .flex1 {
                    padding: $base*10 0;
                    &-img {
                        height: 100%;
                        img {
                            width: 100%;

                            @media (max-width: $breakpoint-md-max) {
                                width: $base*95;
                            }

                            @media (max-width: $breakpoint-sm-max) {
                                width: $base*60;
                            }

                            @media (max-width: $breakpoint-xs-max) {
                                width: $base*50;
                            }
                        }
                    }
                }

                .flex-btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .btn {
                        margin-bottom: $base*10;
                        width: $base*60;
                        background: #5a5b59;
                        color: #ffffff;
                        border: none;
                        padding: $base*3 $base*5;
                        cursor: pointer;
                        transition: $transition;

                        &:hover {
                            background-color: darken(#428bca, 5%);
                        }

                        @media (max-width: $breakpoint-sm-max) {
                            width: $base*50;
                        }
                    }
                }

                .flex2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    @media (max-width: $breakpoint-lg-max) {
                        align-items: center;
                    }

                    &-wraper {
                        display: flex;
                        flex-direction: column;
                        // align-items: center;
                        // width: 450px;

                        @media (max-width: $breakpoint-xs-max) {
                            width: 240px;
                        }

                        h3 {
                            text-align: center;
                            @media (max-width: $breakpoint-lg-max) {
                                padding-right: 0;
                            }
    
                            @media (max-width: $breakpoint-xs-max) {
                                padding-right: 0;
                            }
                        }
                        
                        .flex2-text {
                            padding-right: $base*19;
                            color: #333333;
                            line-height: 1.5;
                            font-size: $fs-m - $base*2;
    
                            @media (max-width: $breakpoint-lg-max) {
                                padding-right: 0;
                            }
    
                            @media (max-width: $breakpoint-xs-max) {
                                padding-right: 0;
                                font-size: $fs-xxs;
                            }
    
                            &-list {
                                display: flex;
                                flex-direction: column;
                                // align-items: end;
                                &_item {
                                }
                            }
                        }
                    }


                    .btn {
                        margin-bottom: $base*10;
                        width: $base*30;
                        background: #5a5b59;
                        color: #ffffff;
                        border: none;
                        padding: $base*3 $base*5;
                        cursor: pointer;
                        transition: $transition;

                        &:hover {
                            background-color: darken(#428bca, 5%);
                        }
                    }
                }
            }
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $base*4;

            @media (max-width: $breakpoint-lg-max) {
                grid-template-columns: repeat(2, 0.3fr);
                justify-content: center;
            }

            @media (max-width: $breakpoint-xs-max) {
                grid-template-columns: repeat(2, 0.2fr);
            }

            .grid-item {
                display: flex;
                flex-direction: column;
                // justify-content: flex-end;
                background-color: #ffff;
                padding: $base*5;
                font-size: $fs-xl;
                text-align: center;
                line-height: 1;

                @media (max-width: $breakpoint-xs-max) {
                    line-height: 1;
                }

                &-img {
                    display: inline-block;
                    overflow: hidden;

                    img {
                        width: 100%;

                        @media (max-width: $breakpoint-xs-max) {
                            width: 90%;
                        }
                    }
                }

                &-text {
                    text-decoration: none;
                    color: inherit;
                    font-size: $fs-m - $base;
                    transition: $transition;
                    font-weight: bold;

                    @media (max-width: $breakpoint-xs-max) {
                        font-size: $fs-xxs;
                    }

                    &:hover {
                        color: #00A9CB;
                    }
                }
            }

        }
    }
}

.slider-wrap {
    margin-top: $base*10;
    // background-color: #f5f5f5;

    .slider {
        overflow-y: auto;
        background-color: #fff;
        margin: 0 $base*4;

        .tabs {
            display: flex;

            .tab {
                flex: 1;
                padding: 10px;
                text-align: center;
                background-color: lightgray;
                cursor: pointer;

                @media (max-width: $breakpoint-sm-max) {
                    font-size: $fs-xs;
                }
            }

            .tab.active {
                background-color: white;
            }
        }
        
        .content {
            
            .content-tab {
                overflow-y: auto;
                display: none;
                padding: 20px;

                .content-wrap {
                    .text {
                        color: #333333;
                        line-height: 1.5;
                    }

                    .images {
                        text-align: center;

                        img {
                            @media (max-width: $breakpoint-sm-max) {
                                width: $base*60;
                            }
                        }
                    }

                    h3 {
                        color: #333333;

                        @media (max-width: $breakpoint-sm-max) {
                            text-align: center;
                        }
                    }

                    .slider-list {

                        &_item {
                            color: #333333;
                            line-height: 1.5;
                        }
                    }
                }
            }

            .content-tab.active {
                display: block;
            }
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.grid-item_alt {
    justify-content: end;
}

td {
    &:nth-child(1) {
        text-align: start;
    }
    text-align: center;
    @media (max-width: $breakpoint-md-max) {
        font-size: $fs-s;
    }

    @media (max-width: $breakpoint-sm-max) {
        font-size: $fs-xs;
    }

    @media (max-width: $breakpoint-xs-max) {
        font-size: $fs-xxs - $base;
    }
}


.slider-top {
    display: flex;
    // position: relative;
    width: 600px;
    margin: 0 auto;
    height: 100%;

    @media (max-width: $breakpoint-sm-max) {
        width: 300px;
    }

    @media (max-width: $breakpoint-xs-max) {
        width: 200px;
    }

    .slider-wrap {
        display: flex;
        flex-direction: column;
    }
}

.main-photo {
    text-align: center;
    margin-bottom: 10px;
}

.main-photo img {
    max-width: 100%;
    // height: 100%;
}

.preview-photos {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    // position: absolute;
    top: 0;
    right: 0;
    gap: 5px;
    align-items: flex-end;
}

.wrap-photos {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.photo-preview {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    height: 25%;
}

.photo-preview.active {
    border: 2px solid red;
    height: 25%;
}

.nav-buttons {
    display: flex;
    justify-content: center;
}

.prev-btn,
.next-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px;
}







// .fixed {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 99;
// }

// .header.scrolled .header-text-primary-title {
//     display: none;
// }

// .header.scrolled .logo img {
//     width: 150px;
//     height: auto;
// }

// .header.scrolled .header-text-secondary {
//     display: flex;
//     Flex-direction: row;
// }

// .header.scrolled .section-navigation {
//     position: relative;
//     top: 0;
// }

// === / COMMON ===

// === HEADER ===
.section-header {
    padding-top: $base*4;
    margin-bottom: $base;

    &-wrap {
        background-color: white;
        display: flex;
        justify-content: space-between;

        @media (max-width: $breakpoint-sm-max) {
            flex-direction: column;
        }

        .logo {
            display: flex;
            align-items: center;
            @media (max-width: $breakpoint-lg-max) {
                margin-left: $base*10;
            }
        }

        .header-text {

            &-primary {
                margin-left: $base * 40;
                display: flex;
                justify-content: space-between;

                @media (max-width: $breakpoint-md-max) {
                    margin-left: $base*10;
                }


                &-title {
                    flex-basis: 75%;
                    font-size: $fs-l;
                    line-height: 1;

                    @media (max-width: $breakpoint-lg-max) {
                        font-size: $fs-m - $base;
                    }

                    @media (max-width: $breakpoint-md-max) {
                        font-size: $fs-m - $base*2;
                    }

                    @media (max-width: $breakpoint-sm-max) {
                        display: none;
                    }
                }

                &-lang {
                    display: flex;

                    @media (max-width: $breakpoint-lg-max) {
                        padding-right: $base*4;
                    }

                    &_item {
                        &:nth-last-child(n+2) {
                            margin-right: $base*2;
                        }

                        text-decoration: none;
                        color: rgb(0, 186, 203);
                        font-size: $fs-xs;
                    }
                }
            }

            &-secondary {
                margin-left: $base * 40;
                margin-top: $base*3;

                @media (max-width: $breakpoint-md-max) {
                    margin-left: $base*10;
                }

                &-wrapper {
                    @include list-null();

                    display: flex;
                    justify-content: space-between;

                    @media (max-width: $breakpoint-md-max) {
                        justify-content: flex-start;
                        flex-direction: column;
                    }

                    &_item {

                        &-link {
                            color: black;
                            text-decoration: none;

                            @media (max-width: $breakpoint-lg-max) {
                                font-size: $fs-s;
                            }

                            span {
                                color: rgb(128, 130, 133);

                                @media (max-width: $breakpoint-lg-max) {
                                    font-size: $fs-s;
                                }
                            }
                        }

                        &-mail {
                            color: #428bca;
                            text-decoration: none;

                            @media (max-width: $breakpoint-lg-max) {
                                padding-right: $base*4;
                            }
                        }
                    }
                }
            }

        }
    }

}

.section-navigation {
    margin-bottom: $base*2;
    border: 1px solid;
    background-color: #525355;

    .section-inner {

        @media (max-width: $breakpoint-lg-max) {
            padding-left: $base*4;
            padding-right: $base*4;
        }

        &-wrap {
            @media (max-width: $breakpoint-sm-max) {
                display: none;
            }

            .nav {
                @include list-null();
                display: flex;
                align-items: center;
                justify-content: space-between;

                &_item {

                    &-link {
                        text-decoration: none;
                        color: #fff;
                        transition: $transition;

                        &:hover {
                            color: #00A9CB;
                        }
                    }
                }
            }
        }
    }



}

// === / HEADER ===

// === MAIN ===
// === / MAIN ===

// === EQUIPMENT ===
.outer-equipmen {
    margin-bottom: $base*10;
    padding-bottom: $base*4;
    background-color: #f5f5f5;

    .section-equipment {
        margin-bottom: $base*15;
        padding-top: $base*10;
        padding-left: $base*40;
        display: flex;
        align-items: center;

        @media (max-width: $breakpoint-sm-max) {
            flex-direction: column;
            padding-left: 0;
            text-align: center;
        }

        .text {
            margin-left: $base*18;
            font-weight: bold;
            font-size: $fs-m;
            line-height: 1.5;

            @media (max-width: $breakpoint-lg-max) {
                margin-top: $base*10;
                font-size: $fs-m - $base;
            }

            @media (max-width: $breakpoint-md-max) {
                font-size: $fs-m - $base*2;
            }

            @media (max-width: $breakpoint-sm-max) {
                margin-left: 0;
                padding-left: $base*10;
                padding-right: $base*10;
                font-size: $fs-s;
            }

            .span-text {
                font-size: $fs-xxl;

                @media (max-width: $breakpoint-lg-max) {
                    font-size: $fs-xl;
                }

                @media (max-width: $breakpoint-md-max) {
                    font-size: $fs-l;
                }

                @media (max-width: $breakpoint-sm-max) {
                    font-size: $fs-m;
                }
            }
        }
    }

    .options {
        display: flex;
        padding-left: $base*4;

        @media (max-width: $breakpoint-lg-max) {
            padding-right: $base*4;
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: $breakpoint-xs-max) {
            padding-right: $base*4;
            flex-direction: column;
            align-items: center;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: $base*4;

            @media (max-width: $breakpoint-lg-max) {
                grid-template-columns: repeat(2, 0.3fr);
                justify-content: center;
            }

            @media (max-width: $breakpoint-xs-max) {
                grid-template-columns: repeat(2, 0.2fr);
            }

            .grid-item {
                display: flex;
                flex-direction: column;
                // justify-content: flex-end;
                background-color: #ffff;
                padding: $base*5;
                font-size: $fs-xl;
                text-align: center;
                line-height: 1;

                @media (max-width: $breakpoint-xs-max) {
                    line-height: 1;
                }

                &-img {
                    display: inline-block;
                    overflow: hidden;

                    img {
                        width: 100%;
                        @media (max-width: $breakpoint-xs-max) {
                            width: 90%;
                        }
                    }
                }

                &-text {
                    text-decoration: none;
                    color: inherit;
                    font-size: $fs-m - $base;
                    transition: $transition;
                    font-weight: bold;

                    @media (max-width: $breakpoint-xs-max) {
                        font-size: $fs-xxs;
                    }

                    &:hover {
                        color: #00A9CB;
                    }
                }
            }

        }

        .container {
            width: 265px;
            height: 1288px;
            display: flex;
            // flex-wrap: wrap;
            flex-direction: column;
            // justify-content: end;
            margin-left: $base*9;
            padding-right: $base*4;

            @media (max-width: $breakpoint-lg-max) {
                margin-left: 0;
                padding-top: $base*5;
                flex-direction: row;
                width: auto;
                height: auto;
                // flex-wrap: nowrap;
                justify-content: center;
            }

            @media (max-width: $breakpoint-xs-max) {
                flex-direction: row;
                padding-right: 0;
            }

            &_item1 {
                &-img1 {
                    width: 265px;

                    @media (max-width: $breakpoint-lg-max) {
                        width: 245px;
                    }

                    @media (max-width: $breakpoint-md-max) {
                        width: 200px;
                    }

                    @media (max-width: $breakpoint-xs-max) {
                        width: 130px;
                    }
                }

            }

            &_item2 {

                @media (max-width: $breakpoint-lg-max) {
                    margin-left: $base*4;
                }

                // margin-left: $base*22;
                // margin-bottom: $base*25;

                &-img2 {
                    width: 265px;

                    @media (max-width: $breakpoint-lg-max) {
                        width: 245px;
                    }

                    @media (max-width: $breakpoint-md-max) {
                        width: 200px;
                    }

                    @media (max-width: $breakpoint-xs-max) {
                        width: 130px;
                    }
                }

            }
        }
    }
}

// === / EQUIPMENT ===

// === FOOTER ===

// === FORM ===
.outer-form {
    background-color: #f5f5f5;

    .section-form {

        .form-container {
            padding-top: $base*18;
            padding-bottom: $base*15;

            .form {
                padding-top: $base*7;
                padding-bottom: $base*9;
                padding-left: $base*25;
                padding-right: $base*25;
                background-color: #00bacb;

                @media (max-width: $breakpoint-xs-max) {
                    padding-left: $base*10;
                    padding-right: $base*10;
                }

                &-title {
                    margin-bottom: $base*3;
                    font-size: $fs-xl;

                    @media (max-width: $breakpoint-lg-max) {
                        text-align: center;
                        font-size: $fs-l;
                    }

                    @media (max-width: $breakpoint-md-max) {
                        font-size: $fs-m;
                    }

                    @media (max-width: $breakpoint-sm-max) {
                        font-size: $fs-m - $base;
                    }

                    @media (max-width: $breakpoint-xs-max) {
                        font-size: $fs-m - $base*2;
                    }
                }

                // padding-top: $base*10;
                // padding-bottom: $base*40;

                &-group {
                    margin-bottom: $base*8;
                    display: flex;
                    justify-content: space-between;

                    @media (max-width: $breakpoint-lg-max) {
                        flex-direction: column;
                        align-items: center;
                    }

                    .input-group {
                        display: flex;
                        flex-direction: column;
                        margin-right: $base*5;
                        flex-grow: 0.5;

                        @media (max-width: $breakpoint-lg-max) {
                            width: 100%;
                            margin-right: 0;
                        }

                        input {
                            padding-left: $base*4;
                            border-radius: $base;
                            border: none;
                            margin-bottom: $base*3;
                            flex-grow: 0.4;
                            height: 30px;
                        }

                    }

                    textarea {
                        padding-top: $base*4;
                        padding-left: $base*4;
                        border-radius: $base;
                        border: none;
                        flex-grow: 0.5;
                        height: $base*26;

                        @media (max-width: $breakpoint-lg-max) {
                            width: 98%;
                        }

                        @media (max-width: $breakpoint-md-max) {
                            width: 96%;
                        }

                        @media (max-width: $breakpoint-xs-max) {
                            width: 96%;
                        }

                    }

                }

                .checkbox-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // width: 100%;

                    @media (max-width: $breakpoint-lg-max) {
                        flex-direction: column;
                    }

                    .checkbox-consent {
                        color: #ff0000;
                        font-size: $fs-m;

                        @media (max-width: $breakpoint-lg-max) {
                            margin-bottom: $base*3;
                        }
                    }

                    label {
                        margin-left: $base*3;
                        font-size: $fs-s;
                        color: #fff;
                    }
                }

                .submit-button {
                    background: #5a5b59;
                    color: #ffffff;
                    border: none;
                    padding: $base*3 $base*5;
                    cursor: pointer;
                    transition: $transition;

                    &:hover {
                        background-color: darken(#428bca, 5%);
                    }
                }
            }
        }
    }
}

// === / FORM ===

// === FOOTER-MENU ===
.outer-menu {
    background-color: #57595a;

    .section-menu {
        display: flex;
        padding-bottom: $base*10;
        padding-top: $base*5;
        justify-content: space-between;

        @media (max-width: $breakpoint-lg-max) {
            justify-content: center;
        }

        @media (max-width: $breakpoint-md-max) {
            display: block;
        }

        &-left {
            display: flex;
            flex-basis: 50%;
            justify-content: space-around;

            @media (max-width: $breakpoint-lg-max) {
                justify-content: center;
            }

            @media (max-width: $breakpoint-md-max) {
                justify-content: space-around;
            }

            @media (max-width: $breakpoint-xs-max) {
                flex-direction: column;
                align-items: center;
            }

            &_item {
                @include list-null();

                &:not(:first-child) {
                    margin-left: $base*15;

                    @media (max-width: $breakpoint-xs-max) {
                        margin-left: 0;
                    }
                }


                &-link {
                    margin-top: $base*4;

                    &-element {
                        text-decoration: none;
                        color: #fff;
                        font-size: $fs-s;
                        transition: $transition;

                        &:hover {
                            color: #00A9CB;
                        }
                    }

                    &-fb {
                        text-decoration: none;
                        transition: $transition;

                        &:hover {
                            path {
                                fill: #00A9CB;
                            }
                        }
                    }

                    &-inst {
                        text-decoration: none;
                        transition: $transition;

                        &:hover {
                            path {
                                fill: #00A9CB;
                            }
                        }
                    }

                    &-ytb {
                        text-decoration: none;
                        transition: $transition;

                        &:hover {
                            path {
                                fill: #00A9CB;
                            }
                        }
                    }

                    &-vk {
                        text-decoration: none;
                        transition: $transition;

                        &:hover {
                            path {
                                fill: #00A9CB;
                            }
                        }
                    }

                    &-tg {
                        text-decoration: none;
                        transition: $transition;

                        &:hover {
                            path {
                                fill: #00A9CB;
                            }
                        }
                    }
                }
            }
        }

        &-right {
            display: flex;
            flex-basis: 50%;
            justify-content: space-around;

            @media (max-width: $breakpoint-lg-max) {
                justify-content: center;
            }

            @media (max-width: $breakpoint-md-max) {
                justify-content: space-around;
            }

            @media (max-width: $breakpoint-xs-max) {
                flex-direction: column;
                align-items: center;
            }

            &_item {
                @include list-null();

                &:not(:first-child) {
                    margin-left: $base*15;

                    @media (max-width: $breakpoint-xs-max) {
                        margin-left: 0;
                    }
                }


                &-link {
                    margin-top: $base*4;

                    &-element {
                        text-decoration: none;
                        color: #fff;
                        font-size: $fs-s;
                        transition: $transition;

                        &:hover {
                            color: #00A9CB;
                        }
                    }

                    &-fb {
                        text-decoration: none;
                        transition: $transition;

                        &:hover {
                            path {
                                fill: #00A9CB;
                            }
                        }
                    }

                    &-inst {
                        text-decoration: none;
                        transition: $transition;

                        &:hover {
                            path {
                                fill: #00A9CB;
                            }
                        }
                    }

                    &-ytb {
                        text-decoration: none;
                        transition: $transition;

                        &:hover {
                            path {
                                fill: #00A9CB;
                            }
                        }
                    }

                    &-vk {
                        text-decoration: none;
                        transition: $transition;

                        &:hover {
                            path {
                                fill: #00A9CB;
                            }
                        }
                    }

                    &-tg {
                        text-decoration: none;
                        transition: $transition;

                        &:hover {
                            path {
                                fill: #00A9CB;
                            }
                        }
                    }
                }
            }
        }

    }
}

// === / FOOTER-MENU ===

// === COPYRIGHT ===
.outer-copyright {
    background-color: #3d4044;

    .section-copyright {
        padding-top: $base*3;
        padding-bottom: $base*3;
        display: flex;
        text-align: center;
        justify-content: space-between;

        @media (max-width: $breakpoint-lg-max) {
            justify-content: space-around;
        }

        @media (max-width: $breakpoint-xs-max) {
            flex-direction: column;
            align-items: center;
        }

        &-text {
            color: #fff;
            font-size: $fs-s;
        }
    }
}

// === / COPYRIGHT ===
// === / FOOTER ===